.calculator-wrapper {
  background-color: #312F69;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #3a3c68;
  /* background-image: url(./assets/calculatorbg.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 49%;
}


.earn-calculator{
  position: fixed;
  left: 63%;
  top: 45%;
  box-shadow:0 0 0 1000px rgba(0,0,0,.50);
  width: 35%;
  pointer-events: auto;
  z-index: 15;
}

.calc-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #f7f7fc;
}

#dropdown-basic-button3 {
  padding-top: revert !important;
  padding-bottom: revert !important;
  /* padding-left: 15px !important;
  padding-right: 15px !important; */
  width: 100px !important;
  /* width: auto !important; */
}

.pills-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  transition: 0.3s;
  margin-bottom: 21px;
  margin-top: 21px;
  gap: 20px;
  position: relative;
  justify-content: space-between;
}

.pill-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #8E97CD;
  padding: 10px 20px;
  margin-bottom: 0;
  cursor: pointer;
  background: rgba(20, 20, 42, 0.2);
  border-radius: 8px;
  border: 1px solid #7770e0;
  position: relative;
  /* width: 25%; */
  display: flex;
  justify-content: center;
  transition: all .25s;
}

.pill-item:hover{
  background: #1E1C40 !important;
}

.active-color {
  /* color: $white; */
  z-index: 2;
}

/* .active-color::after {
  content: "●";
  color: #f8845b;
  font-size: 28px;
  position: absolute;
  bottom: -8px;
  margin: 0px -38%;
} */

.separator {
  background: #3b3c68;
  height: 1px;
  width: 100%;
  margin-bottom: 21px;
  margin-top: 21px;
}
.inputlabel {
  font-weight: 400;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #8e97cd;
  display: flex;
  background: #26264f !important;
  padding: 0 0px 0 5px;
  top: -11px;
  left: 25px;
}

.requiredstar {
  color: #f8845b;
  font-weight: 400;
  font-size: 8px;
}

.calcinput {
  background: #26264f !important;
  border: 1px solid #8e97cd !important;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.018em;
  color: #f7f7fc !important;
  width: 94px;
}

.output-txt {
  font-weight: 600;
  font-size: 39px;
  text-align: right;
  letter-spacing: -0.018em;
  color: #F7F7FC;
}

.cryptotext {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  letter-spacing: -0.018em;
  color: #F7F7FC;
}

.time-pill-item {
  font-weight: 500;
  font-size: 9px;
  line-height: 18px;
  color: #6e7191;
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 6px;
  padding: 9px;
  cursor: pointer;
  margin: 0;
}

.time-pills-container {
  justify-content: space-between;
  gap: 10px;
  background: #26264f;
  border: 1px solid #8e97cd;
  border-radius: 8px;
  width: 73%;
  padding: 2px;
  align-items: center;
}

.calc-footer {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* text-align: right; */
  /* letter-spacing: -0.018em; */
  color: #D6D8E7;
  width: 60%;
}

.earnbtn {
  background: linear-gradient(90.74deg, #7770e0 0%, #554fd8 100%);
  border: none;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #FFFFFF;
}

.earnbtn:hover {
    color: #fff;
}
