.top-pools-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  width: fit-content;
  letter-spacing: -0.018em;
  color: rgba(247, 247, 252, 0.8);
  padding: 0;
}

.main-dashboard-container{
  background: #1D1E42;
  border-radius: 8px;
}

.view-more-title {
  width: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #4ED5D2 !important;
  cursor: pointer;
}

.toppool-allwrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.view-more-title:hover,
.view-more-title:focus {
  text-decoration: underline;
}

.header {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.018em;
  color: #f7f7fc;
  opacity: 0.8;
}
